<html>
    <head>
        <title>Test</title>
    </head>
<body>

<p>

Your username is <em style="color: green; font-size: 2em;"><%= username %></em>.

Your site is <em style="color: green; font-size: 2em;"><%= serviceroot %></em>.

Your token is <em style="color: green; font-size: 2em;"><%= @@token %></em>.


</p>

</body>
</html>

